name: LINT
on:
  push:
    branches:
      - main
      - fix/cicd
  pull_request:

permissions:
  contents: read
  pull-requests: read
  checks: write
  # Optional: allow read access to pull request. Use with  option.

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.20
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.58
